.weather-clock-container {
  max-width: 400px;
  margin: 0 auto; /* Modifica: Rimuovi il margine superiore e imposta il margine inferiore a 50px */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  position: absolute; /* Modifica: Imposta il posizionamento assoluto per posizionarlo in fondo alla pagina */
  bottom: 50px; /* Modifica: Posiziona il container a 50px dal fondo della pagina */
  left: 50%; /* Modifica: Centra il container orizzontalmente */
  transform: translateX(-50%); /* Modifica: Centra il container orizzontalmente */
  background-color: rgba(255, 255, 255, 0.8); /* Modifica: Aggiunge un background bianco traslucido */
}

/* Rimuovi lo stile per la classe .page-title poiché non dovrebbe essere visibile */

.weather-background {
  background-image: url('https://media-assets.wired.it/photos/65562048e250788db3b4cd40/16:9/w_1600,c_limit/Google-DeepMind-AI-Header_GraphCast_01.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Modifica: Imposta l'altezza al 100% della viewport */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;}