* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.weather-background {
  background-image: url('C:/Users/banfi/OneDrive/Desktop/METEOprog/orologio_gruppo4/banfi/src/assets/sfondoMETEO.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Imposta l'altezza al 100% della viewport */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

.weather-clock-container {
  max-width: 400px;
  margin: 0 auto 50px; /* Rimuovi il margine superiore e imposta il margine inferiore a 50px */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px; /* Aumenta il raggio del bordo per rendere più arrotondati gli angoli */
  background-color: rgba(255, 255, 255, 0.9); /* Aumenta leggermente l'opacità del background */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Aggiunge un'ombra più evidente per una maggiore profondità */
}

.page-title {
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center; /* Centra il titolo orizzontalmente */
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  width: 100%; /* Imposta la larghezza del campo di input al 100% */
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%; /* Imposta la larghezza del pulsante al 100% */
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
  text-align: center; /* Centra il contenuto all'interno del riquadro */
}

/* weather-clock.component.css */

.weather-info p {
  margin: 10px 0; /* Aggiunge spazio tra i paragrafi */
  text-align: left;
  font-size: 1.2em; /* Aumenta leggermente la dimensione del testo */
}

.weather-info p strong {
  margin-right: 5px; /* Aggiunge spazio tra il testo forte e il testo normale */
  font-weight: bold; /* Rende il testo forte in grassetto */
}

.weather-info p::after {
  display: none;
}

.weather-info p:nth-child(odd) {
  background-color: #f0f0f0; /* Aggiunge un background chiaro ai paragrafi dispari */
  padding: 10px; /* Aggiunge spazio interno ai paragrafi dispari */
  border-radius: 5px; /* Aggiunge bordi arrotondati ai paragrafi dispari */
}


.hidden {
  display: none;
}

.hidden-text {
  visibility: hidden;
}