* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
}

.weather-background {
  background-image: url('C:/Users/banfi/OneDrive/Desktop/METEOprog/orologio_gruppo4/banfi/src/assets/sfondoMETEO.jpg');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh; /* Imposta l'altezza al 100% della viewport */
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.8;
}

.weather-clock-container {
  max-width: 400px;
  margin: 0 auto 50px; /* Rimuovi il margine superiore e imposta il margine inferiore a 50px */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8); /* Aggiunge un background bianco traslucido */
}

.page-title {
  margin-bottom: 20px;
  font-size: 2em;
}

input[type="text"] {
  padding: 10px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  font-size: 1em;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.weather-info {
  margin-top: 20px;
}

.weather-info p {
  margin: 5px 0;
}

.hidden {
  display: none;
}

